/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESET */

/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root{
    --main-white:#FFFFFF;
    --main-blue: #506FA9;
    --main-gray: #E9E9E9;
    --dark-gray: #716565;
    --main-gold: #846219;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.ml-2{
    margin-left: 5%;
}
.ml-4{
    margin-left: 10%;
}
.mr-2{
    margin-right: 5%;
}
.flex{
    display: flex;
    flex-flow: row wrap;
}
.is-hidden-desktop{
    display: none;
}
/* END OF GLOBAL  */

/* HEADER - o componente do burger menu forçou que o header fosse feito com position e não com flex*/
header{
    position: absolute;
    width: 100%;
    max-height: 10vh;
    left: 0px;
    top: 0px;
    background:var(--main-white);
}
header .logo{
    position: relative;
    max-height: 7vh;
    margin: 1.5vh 0 0 3rem;
}
header .text-container h1{
    margin: 1rem 0 0 -70%;
    font-weight: 700;
    font-size: 41.2px;
    line-height: 36px;
    color: var(--main-gold);
}
header .text-container span{
    font-weight: 300;
    font-size: 16.2px;
    line-height: 8px;
    letter-spacing: 5.4px;
    color: var(--main-gold);
    margin: -1rem 0 0 -70%;
}
.links-container{
    position: absolute;
    right: 0;
}
header a.link{
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 5.4px;
    text-align: left;
    color:var(--main-gold);
    text-decoration: none;
    margin: 45px 0 0 43px;
}
header a.link:hover{
    color:var(--main-blue);
    font-weight: 400;
}
/* END OF HEADER */

/* BURGER MENU */
.bm-burger-button{
    position: fixed;
    width: 8px;
    height: 30px;
    left: 1rem;
    top: 1.25rem;
}
.bm-burger-bars {
    background:var(--main-gold)
}
.bm-burger-bars-hover {
    background: #a90000;
}
.bm-cross-button {
    height: 24px;
    width: 24px;
}
.bm-cross {
    background: #FFFAFA;
    top: 0.5rem;
    right: 0.3rem;
}
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}
.bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    overflow: hidden;
}
.bm-morph-shape {
    fill: #000;
}
.bm-item-list {
    color: #b8b7ad;
    padding: 1em;
}
.bm-item{
    display: inline-block;
    transition: opacity 0.3s ease 0.4s, transform 0.3s ease 0.4s;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    margin-bottom: 1rem;
    color: var(--main-gold);
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}
/* END OF BURGER MENU */

.gray-bg{
    width:100%;
    height: 90vh;
    background: var(--main-gray);
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gray-bg h2{
    font-weight: 700;
    font-size: 82.2px;
    line-height: 96px;
    color: #716565;
    margin: 30% 0 0 30%;
}
.gray-bg img{
    margin-top: 25%;
    width: 100%;
    height: auto;
}
.blue-bg{
    width:100%;
    height: 100vh;
    background:var(--main-blue);
    background-image: url("../public/images/measure2-test.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: right; 
    position: relative; 
    top: 10vh;
    display: flex;
    flex-direction: row;
}
.blue-bg h2{
    font-weight: bold;
    font-size: 69.2px;
    line-height: 81px;
    color: #FFFFFF;
    margin: 30% 0 0 20%;
    max-width: 50%;
}
.blue-bg p{
    font-weight: 300;
    font-size: 48.2px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    margin: 0 0 0 20%;
    max-width: 50%;

}
.blue-bg .image img{
    position: relative;
    left:0;
    width: 100%;
    height: auto;
}

/* FOOTER */
footer.gray-bg{
    max-height: 25vh;
}

footer .social, footer .address{
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 5rem;
}

footer .social{
    flex: 1;
}
footer .address{
    flex: 2;
}

footer h4{
    font-weight: 700;
    font-size: 27.2px;
    line-height: 32px;
}

footer a{
    display: inline-block;
    color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
    border-radius: 50%;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding:1rem 0.1rem 0.1rem 1rem;
    margin: 1rem 1rem 0 0;
}
footer ul{
    margin: 1rem 1rem 0 0;
}
footer ul li{
    font-size: 16.2px;
    line-height: 19px;
}
footer a:hover{
    color: var(--main-blue);
    border: 2px solid var(--main-blue);
}

/* MQs */
@media screen and (max-width: 1280px){
    header .text-container h1{
        margin-top: 0;
    }
    header a.link{
        margin: 1.5rem 0 0 43px;
    }
}

@media screen and (max-width: 885px){
    header .text-container h1{
        margin: 1rem 0 0 -30%;
    }
    header .text-container span{
        margin: -1rem 0 0 -30%;
    }
    .gray-bg, .blue-bg{
        flex-direction: column;
    }
    .gray-bg img{
        margin-top: 5%;
    }
}


@media screen and (max-width: 768px){
    .flex.column{
        flex-direction: column;
    }
    header .text-container h1{
        margin: 1vh 0 0 -1rem;
    }
    
    header .text-container span{
        margin: -1rem 0 0 -1rem;
    }
    header a.link{
        margin: 0.5rem 0 0 43px;
    }
    .gray-bg h2{
        font-size: 67.7px;
        line-height: 79px;
        max-width: 80%;
        margin: 15% 0 0 30%;
    }
    .blue-bg h2{
        font-weight: 700;
        font-size: 67.7px;
        line-height: 79px;
        max-width: 80%;
        margin: 15% auto;
    }
    .blue-bg p{
        font-size: 36.2px;
        line-height: 41px;
    }
    .blue-bg{
        background-size: 70%;
        background-position-y: bottom; 
    }
    footer.gray-bg{
        max-height: 35vh;
    }
    footer .social, footer .address{
        align-items: center;
        flex:1;
        margin: 3rem 0;
    }
}

@media screen and (max-width: 458px){
    header .logo{
        margin: 1.5vh 0 0 8.5rem;
    }
    header .is-hidden-mobile{
        display: none;
    }
    header .is-hidden-desktop{
        display: flex;
        height: 10vh;
        background: var(--main-white);
        color: var(--main-gold);
        font-size: 36.5px;
        margin: 2vh 0vw 0 0;
    }
    .bm-burger-button{
        top: 0.75rem;
    }
    .gray-bg h2{
        font-size: 53.2px;
        line-height: 62px;
        margin: 15% 0 0 15%;
    }
    .blue-bg{
        background-size: 259px; 
    }
    .blue-bg h2{
        font-size: 41.2px;
        line-height: 48px;
        max-width: 90%;
    }
    .blue-bg p{
        font-size: 26.2px;
        line-height: 31px;
        max-width: 90%;
        margin: 15% auto;
    }
    footer.gray-bg{
        max-height: 50vh;
    }
    footer .social, footer .address{
        margin: 1rem auto 0;  
    }
}