/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESET */

/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root{
    --main-white:#FFFFFF;
    --main-blue: #506FA9;
    --main-gray: #E9E9E9;
    --dark-gray: #716565;
    --main-gold: #846219;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.ml-2{
    margin-left: 5%;
}

.ml-4{
    margin-left: 10%;
}

.mr-2{
    margin-right: 5%;
}

/* END OF GLOBAL  */

/* HEADER */
header{
    position: absolute;
    width: 100%;
    height: 10vh;
    left: 0px;
    top: 0px;
    background:var(--main-white);
}

header .dots{
    background: #E2E0B8;
}

header .logo{
    height: 10vh;
}

header .is-hidden-desktop{
    display: none;
}

header nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header nav .flex{
    display:flex;
}

header a.logo-container{
    display:flex;
    text-decoration: none;
}

header a.logo-container h1{
    margin-top:1vh;
    font-weight: bold;
    font-size: 41.2px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    color:var(--main-gold);
}

header span{
    font-weight: 300;
    font-size: 16.2px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 5.4px;

    color: #846219;
    margin: -0.5rem 0 0 0;
}

header a.link{
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 5.4px;
    text-align: left;
    color:var(--main-gold);
    text-decoration: none;
    margin: 45px 0 0 43px;
}

header a.link:hover{
    color:var(--main-blue);
    font-weight: 400;
}

header a.link.mr-2{
    margin-right: 5%
}
/* END OF HEADER */

.gray-bg{
    width:100%;
    height: 90vh;
    background: var(--main-gray);
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gray-bg h2{
    font-weight: bold;
    font-size: 82.2px;
    line-height: 96px;
    color: #716565;
    margin: 30% 0 0 30%;
}

.gray-bg img{
    margin-top: 25%;
    width: 100%;
    height: auto;
}

.title, .image{
    /* outline: 1px solid red */
}

.blue-bg{
    width:100%;
    height: 100vh;
    background:var(--main-blue);
    background-image: url("../public/images/measure2.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: right; 
    position: relative; 
    top: 10vh;
    display: flex;
    flex-direction: row;
}

.blue-bg h2{
    font-weight: bold;
    font-size: 69.2px;
    line-height: 81px;
    color: #FFFFFF;
    margin: 30% 0 0 20%;
    max-width: 50%;
}

.blue-bg p{
    font-weight: 300;
    font-size: 48.2px;
    line-height: 56px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    margin: 0 0 0 20%;
    max-width: 50%;

}

.blue-bg .image img{
    position: relative;
    left:0;
    width: 100%;
    height: auto;
}

footer{
    display: flex;
    justify-content: space-around;
}

footer .social, footer .address{
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 5rem;
}

footer .social{
    flex: 1;
    
}
footer .address{
    flex: 2;
}

footer h4{
    font-weight: bold;
    font-size: 27.2px;
    line-height: 32px;
}

footer a{
    display: inline-block;
    color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
    border-radius: 50%;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding:1rem 0.1rem 0.1rem 1rem;
    margin: 1rem 1rem 0 0;
}

footer ul{
    margin: 1rem 1rem 0 0;
}

footer ul li{
    font-size: 16.2px;
    line-height: 19px;
}

footer a:hover{
    color: var(--main-blue);
    border: 2px solid var(--main-blue);
}

@media screen and (max-width: 1280px){
    header h1{
        margin-top: 0;
    }
    header a.link{
        margin: 1.5rem 0 0 43px;
    }
}


@media screen and (max-width: 768px){
    .flex.column{
        flex-direction: column;
    }
    header h1{
        margin-top: 0.5rem;
    }
    header a.link{
        margin: 0.5rem 0 0 43px;
    }
    .gray-bg, .blue-bg{
        flex-direction: column;
    }
    .gray-bg h2{
        font-weight: bold;
        font-size: 67.7px;
        line-height: 79px;
        margin: 15% 0 0 30%;
    }
    .blue-bg h2{
        font-size: 41.2px;
        line-height: 48px;
    }
    .blue-bg p{
        font-size: 26.2px;
        line-height: 31px;
    }

    .blue-bg{
        background:var(--main-blue);
        background-image: url("../public/images/measure2.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position-x: right;
        background-position-y: bottom; 
    }
}


@media screen and (max-width: 458px){
    header {
        height: 10vh;
    }
    nav{
        justify-content: center;
    }
    header a.logo-container{
        justify-content: space-evenly;
    }
    header nav .is-hidden-mobile, header nav h1.is-hidden-mobile{
        display: none;
    }
    header .is-hidden-desktop{
        display: flex;
        height: 10vh;
        background: var(--main-white);
        color: var(--main-gold);
        font-size: 36.5px;
        margin: 2vh 0vw 0 0;
    }
    
    .gray-bg h2{
        font-weight: bold;
        font-size: 53.2px;
        line-height: 62px;
        margin: 15% 0 0 15%;
    }
    footer{
        flex-direction: column;
    }
    footer .social, footer .address{
        margin: 1rem auto 0;
        flex: 1;  
    }
    
}


