<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zutterman - Measuring Tapes</title>

    <script src="https://kit.fontawesome.com/33c90e5f6c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/zutterman.css">
</head>
<body>
    <header>
        <nav>
            <div class="flex  ml-2">
                <div class="dots is-hidden-desktop"> <i class="fas fa-ellipsis-v"></i></div>
                <img class="logo" src="./images/logo-Z.webp"alt="zuterman logo"/>
                <div>
                    <div><h1 class="lower-case is-hidden-mobile">zutterman</h1></div>
                    <div><span class="is-hidden-mobile">Measure Tapes</span></div>
                </div>
            </div>
            <div class="flex mr-2">
                <a class="is-hidden-mobile .mr-2" href="/about">models</a>
                <a class="is-hidden-mobile .mr-2" href="/about">guarantee</a>
                <a class="is-hidden-mobile .mr-2" href="/about">about us</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="gray-bg top">
            <div class="title">
                <h2>Measuring everything</h2>
            </div>
        </section>
        <section class="blue-bg bottom">
            <div class="title">
                <h2>We are Leader in Measure Tapes</h2>
                <p>There are 5x the circumference of planet earth in metric tapes.</p>
            </div>
        </section>
    </main>
    <footer class="gray-bg">
        <section class="social">
            <h4>Follow Us</h4>
            <a href="youtube.com/zuttermanTapes"></a>
            <a href="facebook.com/zuttermanTapes"></a>
            <a href="twitter.com/zuttermanTapes"></a>
        </section>
        <section class="address">
            <h4>Contact</h4>
            <ul>
                <li>2490 Leisure Lane</li>
                <li>San Luis Obispo</li>
                <li>California</li>
            </ul>
        </section>
    </footer>
</body>
</html>